body {
    font-family: 'Roboto', sans-serif;
}
.headline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -110px;
}
.headline .headline-text{
    position: relative;
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
}
.headline .headline-text:before,
.headline .headline-text:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    top: 0;
}
.headline .headline-text:before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 10s linear infinite reverse;
}
.headline .headline-text:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 10s linear infinite reverse;
}
@keyframes glitch-1 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
    2% {
        clip-path: polygon(0 82%, 100% 82%, 100% 100%, 0 100%);
        visibility: visible;
    }
    4% {
        clip-path: polygon(0 55%, 100% 55%, 100% 70%, 0 70%);
        visibility: visible;
    }
    6% {
        clip-path: polygon(0 20%, 100% 20%, 100% 40%, 0 40%);
        visibility: visible;
    }
    8% {
        clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
        visibility: visible;
    }
    10% {
        clip-path: polygon(0 75%, 100% 75%, 100% 90%, 0 90%);
        visibility: visible;
    }
    12% {
        clip-path: polygon(0 10%, 100% 10%, 100% 25%, 0 25%);
        visibility: visible;
    }
    14% {
        clip-path: polygon(0 60%, 100% 60%, 100% 85%, 0 85%);
        visibility: visible;
    }
    16% {
        clip-path: polygon(0 30%, 100% 30%, 100% 50%, 0 50%);
        visibility: visible;
    }
    18% {
        clip-path: polygon(0 45%, 100% 45%, 100% 65%, 0 65%);
        visibility: visible;
    }
    20% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
    21%, 99.99% {
        visibility: hidden;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
}
@keyframes glitch-2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
    2% {
        clip-path: polygon(0 40%, 100% 40%, 100% 55%, 0 55%);
        visibility: visible;
    }
    4% {
        clip-path: polygon(0 65%, 100% 65%, 100% 80%, 0 80%);
        visibility: visible;
    }
    6% {
        clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
        visibility: visible;
    }
    8% {
        clip-path: polygon(0 80%, 100% 80%, 100% 95%, 0 95%);
        visibility: visible;
    }
    10% {
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        visibility: visible;
    }
    12% {
        clip-path: polygon(0 70%, 100% 70%, 100% 85%, 0 85%);
        visibility: visible;
    }
    14% {
        clip-path: polygon(0 25%, 100% 25%, 100% 45%, 0 45%);
        visibility: visible;
    }
    16% {
        clip-path: polygon(0 50%, 100% 50%, 100% 75%, 0 75%);
        visibility: visible;
    }
    18% {
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        visibility: visible;
    }
    20% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
    21%, 99.99% { 
        visibility: hidden;
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible; 
    }
}
.main-content-container {
    background: rgb(14, 14, 14);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    margin-top: 200px;
    margin-bottom: 150px;
    padding: 30px 0;
    transform: skewY(-5deg);
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 10px;
}
.terms-section {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
    background-color: #1e1e1e;
    width: 70%;
    transform: skewY(5deg);
}
.header {
    position: absolute;
    top: -100px;
    left:50%;

}